.acceuil {
    color: white;
  margin-top: 3rem; 
   margin-left: 65%;
}

.moi{
    display: flex-start;
    color: white;
    margin-left: 4rem;
    width: 50%;
    top: 0px;
}

.moi h1{
    z-index: 1000;
}


.about h1{
    margin-left: 10px;
}

.about img {
  width: 65%;
}

@media (max-width: 420px){
    .acceuil{
        display: flex;
        justify-content: center;
        margin-left: 0%;
        padding: 80px;
        padding-top: 0px;
        margin-top: 10px;
    }
    .about img{
        width: 100%;
        margin-left: 77px;
    }
}

/* @media (max-width: 600px){
    .acceuil{
        display: flex;
        justify-content: center;
        margin-left: 0%;
        padding: 80px;
        padding-top: 0px;
        margin-top: 10px;
        
    }
    .about img{
        width: 58%;
        margin-left: 256px;
    }
} */