footer{
    /* background:#FF8FB1; */
    position:absolute;
    bottom:0;
    width:100%;

}

.container{
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    justify-content: center;
}

.container ul li{
    
    margin: 0px;
}

.container ul{
    display: flex;
    gap: 1rem;
}

