footer{
    /* background:#FF8FB1; */
    position:absolute;
    bottom:0;
    width:100%;

}

.container{
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    justify-content: center;
}

.container ul li{
    
    margin: 0px;
}

.container ul{
    display: flex;
    gap: 3rem;
}

.icon{
    /* width: 65px; */
    /* height: 65px; */
    /* cursor: pointer; */
    /* border-radius: 50px; */
    transition: all .4s;
}
