.boxe{
    background-image: url(./assets/image/box1.svg);
    background-repeat: no-repeat;
    background-position: top -70px left -15px;
    min-height: 100vh;
}
.boxe::after{
    content: url(./assets/image/box2.svg);
    position: fixed;
    bottom: -245px;
    right: -100px;
    margin: 0;
}

@media (max-width: 596px){
   .boxe{
      background-position: top -178px left -178px; 
   }
   .boxe::after{
    bottom: -360px;
    right: -200px;
   }
}